*{
    margin: 0;
    padding: 0;
    transition: all 0.4s;
}

header {
  position: static;
  top: 0;
  width: 100%;
  height: 73,5px;
  background-color: #7C86FF;
}

a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-weight: bold;
    text-align: center;
}

/* navbar styling */
.navbar{
    display: flex;
}


/*.hamburger-menu{
    cursor: pointer;
}
*/
.nav-menu{
    position: static;
    width: 100%;
    top: 0;

}
.nav-menu a{
    display: flex;
    text-align: center;
    padding: 0;
}

.nav-menu a:hover{
    background-color: hex(#FF7C87);
}

.hide{
    display: none;
}

/* for Desktop view  */
@media screen and (min-width:0px){
    .navbar{
        justify-content: center;
    }
    .nav-menu{
        display: block;
        position: static;
        width: auto;
        background: none;
    }
    .nav-menu a{
        display: inline-block;
        padding: 25px;
        margin: 0px;
        box-sizing: border-box;
    }
    .nav-menu a:hover{
        background-color: rgb(255, 124, 135);
        
    }
    .hamburger-menu{
        display: none;
    }
}

body{
  margin: 0;
  background: #EEEEEE;
  font-family: DejaVu Sans Mono, monospace
}